.contentCard {
  border: solid 1px;
  margin: 8px;
  padding: 8px;
}

.category {
  display: flex;
  background-color: cornflowerblue;
  border: solid 1px;
  border-radius: 50px;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
